<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/annotator/src/sax/TEIAnnotator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sax.TEIAnnotator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;XML_PATH=D:\annotator\corpus&quot; &#13;&#10;&quot;PLUGINS_PROPERTIES_PATH=D:\annotator\plugins.properties&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="annotator"/>
</launchConfiguration>
